@import url(bootstrap.min.css);
@import url(../fonts/fonts.css);

html,body{
  overflow-x: hidden;
}

/* Fonts */
body{
	font-family: 'Quicksand', 'Calibri', sans-serif;
	color: #D5D5D5;
    background-color: #141517;
}

h1.display-4 {
  font-size: 4vw;
}

@media (max-width: 1000px){
  h1.display-4 {
  font-size: 40px;
  }
}

p.lead {
  font-size: 1.5vw;
}

@media (max-width: 2000px){
  p.lead {
    font-size: 20px;
  }
}


h3{
  font-size: 20px;
  font-style: italic;
}

div.main {
  font-size: 20px;
  
}

h4{
  text-align: center;
  font-size: 30px;
  font-style: italic;
}

h5{
  text-align: center;
  color:dimgrey;
}

@media (max-width: 1700px){
  h4 and h5 {
  font-size: 50px;
  }

.footer {
  font-size: 20px;
}

.BU {
  font-size: 15px;
}


/*Links*/
/* unvisited link */
a:link {
  color:#9872AD;
}

/* visited link */
a:visited {
  color: #512A62;
}

/* mouse over link */
a:hover {
  color:#512A62;
}

/* selected link */
a:active {
  color:darkmagenta;
}


/* Hero Image */
.hero{
  background-image: url("../assets/VF-images/Hero.JPG");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  color: #ffffff;
  position: relative;
}

.hero header{
  background-color:rgba(0,0,0,0.3);
}

.hero header{
  position: relative;
  z-index: 10;
}

/* Interrupter Videos */
.interrupter{
  position: relative;
  z-index: 1 !important; 
  overflow: hidden;

}


/* helper */
.vh-200{ height: 200vh;}
.vh-300{ height: 300vh;}
.vh-400{ height: 400vh;}
.vh-500{ height: 500vh;}
.vh-600{ height: 600vh;}
